html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-form{
    margin-top: 5rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-medium);
}

input{
    background-color: var(--background-color);
    color: white;
    border: 2px solid  var(--primary-color);
    width: 40rem;
    height: var(--button-height);
    padding-left: var(--spacing-medium);
    border-radius: var(--standard-border-radius);
}

.body {
    background-color: var(--background-color);
    color: white;
    border: 2px solid  var(--primary-color);
    min-width: 40rem;
    min-height: 10rem;
    padding-left: var(--spacing-medium);
    padding-top: var(--spacing-medium);
    border-radius: var(--standard-border-radius);
}

textarea {
    resize: none;
}

.contact-button{
    margin-top: var(--spacing-medium);
    display: flex;
    gap: var(--spacing-medium);
}

.send-button {
    background-color: var(--primary-color);
    color: white;
    width: 7rem;
    height: var(--button-height);
    border: 2px solid var(--primary-color);
    border-radius: var(--spacing-extra-small);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0 var(--spacing-small) 0 var(--spacing-small);
}

.send-button:hover{
    opacity: 80%;
}

@media (max-width: 768px) {
    input{
        width: 25rem;
    }

    .body {
        min-width: 25rem;
        min-height: 7rem;
    }
}